* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --display-flex: flex;
  --spacing-page-side-sm: 4%;
  --spacing-page-side-md: 5%;
  --spacing-page-side-lg: 9%;
  --spacing-page-side-xl: 10%;
  --spacing-xxs: 0.375rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 3.5rem;
  --align-center: center;
  --text-color-green: #6db33f;
  --text-color: #111;
  --text-color-dark-blue: #61717d;
  --text-color-muted-teal: #98afae;
  --bg-color-projects: #ebf2f2;
  --bg-color-white: #fff;
  --bg-color-light-green: #80ea6e;
  --color-charcoal: #191e1e;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-metropolis: 'Metropolis', sans-serif;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/openSans/open-sans-v43-latin-regular.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/openSans/open-sans-v43-latin-300.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/openSans/open-sans-v43-latin-700.woff2')
    format('woff2');
}

body {
  font-family: var(--font-metropolis);
}

.hidden {
  display: none;
}

.header {
  display: var(--display-flex);
  width: 100%;
  height: 72px;
}

.mobile-logo {
  display: none;
  height: var(--spacing-xl);
  align-items: var(--align-center);
}
.mobile-logo a {
  display: var(--display-flex);
  align-items: var(--align-center);
  height: 100%;
}
.mobile-logo img {
  height: 100%;
}

.nav {
  width: 100%;
  display: var(--display-flex);
  justify-content: space-between;
  align-items: var(--align-center);
  height: 100%;
}

.burger-menu {
  display: none;
  align-content: var(--align-center);

  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
}
.burger-menu button {
  all: unset;
  cursor: pointer;
}
.burger-menu img {
  width: 60%;
  height: 60%;
}
.header-container {
  width: 100%;
  display: var(--display-flex);
  justify-content: space-between;
  margin: 0 var(--spacing-page-side-sm);
}

.mobile-header-container {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: var(--align-center);
  padding: 0 var(--spacing-xs);
}

.nav-links {
  display: var(--display-flex);
  align-items: var(--align-center);
}

.links-container {
  display: var(--display-flex);
  justify-content: space-between;
  align-items: var(--align-center);
  flex-shrink: 0;
  gap: 0.3125rem;
  font-weight: 500;
  height: 100%;
}

.navbar-link-container {
  position: relative;
  display: var(--display-flex);
  align-items: var(--align-center);
  height: 100%;
}

.navbar-link {
  display: var(--display-flex);
}

.navbar-link::after {
  content: '';
  display: inline-block;
  width: 2.2rem;
  background-image: url('assets/icons/down-arrow-5-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.dropdown {
  display: none;
  position: absolute;
  border: 0;
  border-radius: 6px;
  margin-top: var(--spacing-md);
  padding: var(--spacing-sm);
  top: calc(100% - 20px);
  left: 0;
  background-color: var(--bg-color-white);
  box-shadow: 0 5px 30px 0 #6c878780;
  list-style: none;
  line-height: var(--spacing-lg);
  font-size: var(--spacing-sm);
}

.dropdown a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: var(--spacing-xxs) var(--spacing-xxl) var(--spacing-xxs)
    var(--spacing-sm);
  white-space: nowrap;
  font-family: var(--font-open-sans);
}

.dropdown a:hover {
  color: var(--text-color-green);
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.link-mobile {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: var(--spacing-xl);
  padding-bottom: var(--spacing-sm);
  display: block;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
  text-decoration: none;
  color: var(--bg-color-white);
}

.link-mobile:hover {
  color: var(--text-color-green);
}

.navbar-link-container:hover .dropdown {
  display: block;
}

.projects {
  width: 100%;
  background-color: var(--bg-color-projects);
}

.projects-container {
  padding: var(--spacing-xxl) 0;
  max-width: 960px;
  margin: 0 var(--spacing-page-side-sm);
}

.content-container {
  display: var(--display-flex);
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--spacing-xl) 0;
}

.project-title {
  font-weight: 700;
  font-size: var(--spacing-xxxl);
  padding: var(--spacing-sm) 0;
}

.project-description {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: var(--spacing-lg);
  line-height: 2.2rem;
  margin-bottom: var(--spacing-sm);
}

.project-button {
  position: relative;
  font-family: var(--font-open-sans);
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  padding: var(--spacing-sm) var(--spacing-xl);
  border: 2px solid var(--text-color);
  background: transparent;
  font-size: var(--spacing-sm);
  font-weight: 700;
  transition: 0.2s ease;
  z-index: 0;
}

.project-button::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
}
.project-button:hover {
  background-color: transparent;
  color: var(--bg-color-white);
}
.project-button:hover::before {
  width: 100%;
}
.extra-border {
  height: 6px;
  background: linear-gradient(
    45deg,
    var(--text-color-green) 26%,
    var(--bg-color-light-green) 89%
  );
}

.search-container {
  position: relative;
  display: flex;
  justify-content: var(--align-center);
  align-items: var(--align-center);
  padding-top: var(--spacing-xl);
}

.search-container label {
  visibility: hidden;
}

.search-container input {
  width: 40%;
  max-width: 600px;
  padding: var(--spacing-sm) var(--spacing-xl);
  border: 1px solid #d9e9e9;
  border-radius: 0.25rem;
  font-family: var(--font-open-sans);
  font-size: var(--spacing-sm);
}

.search-container input:focus {
  outline: none;
  border-color: var(--text-color-green);
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.clear-input-btn {
  background: none;
  border: none;
  position: relative;
  right: 2rem;
  cursor: pointer;
}

.results-not-found {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: var(--spacing-xl);
  color: var(--text-color-dark-blue);
  padding: var(--spacing-xl);
}

.items-container {
  padding: var(--spacing-xxl) var(--spacing-xl) 0 var(--spacing-xl);
}

.list-container {
  display: var(--display-flex);
  flex-wrap: wrap;
}

.list-item {
  width: 33%;
  padding: var(--spacing-s);
}

.list-item a {
  display: block;
  width: 100%;
  border: 1px solid #d9e9e9;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-xl);
  height: 100%;
  min-height: 9.375rem;
}

.list-item a:hover {
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  transform: translateY(-3px);
  position: relative;
  top: -3px;
}

.image {
  width: 3.125rem;
  height: 3.125rem;
}
.image img {
  width: 100%;
  height: 100%;
}

.list-item-header {
  display: var(--display-flex);
  align-items: var(--align-center);
  gap: 0.625rem;
}
.list-item-title {
  font-weight: 400;
}
.list-item-description {
  font-family: var(--font-open-sans);
  font-weight: 400;
  line-height: 1.7rem;
  padding: var(--spacing-s) 0;
  color: var(--text-color-dark-blue);
}
.list-item-version {
  display: inline-block;
  font-family: var(--font-open-sans);
  align-items: var(--align-center);
  padding: var(--spacing-xxs) var(--spacing-xs);
  background-color: var(--bg-color-light-green);
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--spacing-s);
  border: 0;
  border-radius: 0.1875rem;
}

.additional-versions {
  margin-left: var(--spacing-xs);
  font-family: var(--font-open-sans);
  font-size: var(--spacing-s);
  font-weight: 400;
  color: var(--text-color-dark-blue);
}

@media (max-width: 1042px) {
  .header-container {
    gap: var(--spacing-xl);
    margin: 0 var(--spacing-page-side-lg);
  }
  .projects-container {
    margin: 0 var(--spacing-page-side-lg);
  }
}

@media (max-width: 1200px) {
  .header-container {
    margin: 0 var(--spacing-page-side-xl);
  }
  .projects-container {
    margin: 0 var(--spacing-page-side-xl);
  }
}

@media (max-width: 1000px) {
  .header-container {
    margin: 0 var(--spacing-page-side-md);
  }
  .projects-container {
    margin: 0 var(--spacing-page-side-md);
  }
  .list-item-header {
    flex-direction: column;
    align-items: var(--align-center);
  }
}

@media (max-width: 900px) {
  .links-container {
    display: none;
  }
  .header-container {
    display: none;
  }
  .mobile-header-container {
    display: var(--display-flex);
  }

  .cross-icon {
    position: relative;
    cursor: pointer;
    top: 0;
    right: var(--spacing-sm);
    z-index: 1001;
  }
  .cross-icon button {
    all: unset;
  }

  .burger-menu {
    display: block;
  }
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-charcoal);
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .side-menu.open {
    transform: translateY(0);
  }

  .side-menu-navigation {
    padding: var(--spacing-xxl);
  }

  .side-menu-navigation span {
    display: var(--display-flex);
    align-items: var(--align-center);
    justify-content: space-between;
    height: 60px;
    line-height: var(--spacing-xxl);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
    color: var(--bg-color-white);
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: var(--spacing-xl);
    margin: var(--spacing-sm) 0;
    padding-bottom: var(--spacing-xs);
    cursor: pointer;
  }

  .side-menu-navigation span:hover {
    color: var(--text-color-green);
  }

  .side-menu-navigation span::after {
    content: '';
    display: inline-block;
    width: var(--spacing-md);
    height: var(--spacing-md);
    background-image: url('assets/icons/down-arrow-backup-2-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: var(--spacing-xs);
  }

  .side-menu-list {
    display: block;
    list-style: none;
  }

  .side-menu-list li {
    height: 2.25rem;
  }

  .side-menu-list a {
    text-decoration: none;
    color: var(--text-color-muted-teal);
    align-content: var(--align-center);
    font-family: var(--font-open-sans);
    font-size: var(--spacing-md);
  }

  .side-menu-list a:hover {
    color: var(--text-color-green);
  }
  .mobile-logo {
    display: var(--display-flex);
  }
  .header {
    height: 3.25rem;
  }

  .projects-container {
    margin: 0;
    padding: var(--spacing-xxl) var(--spacing-xl);
  }

  .search-container label {
    display: none;
  }

  .search-container input {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .list-container {
    flex-direction: column;
  }
  .list-item {
    width: 100%;
  }
  .results-not-found {
    font-size: var(--spacing-page-side-sm);
  }
}
