* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-075: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 2rem;
  --margin-05-rem: 0.5rem;
  --margin-1rem: 1rem;
  --margin-left-right-4: 0 4%;
  --margin-left-right-5: 0 5%;
  --margin-left-right-9: 0 9%;
  --margin-left-right-10: 0 10%;
  --text-color: #111;
  --text-color-green: #6db33f;
  --bg-color-projects: #ebf2f2;
  --bg-color-white: #fff;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-metropolis: 'Metropolis', sans-serif;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/Metropolis/Metropolis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/openSans/open-sans-v43-latin-regular.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/openSans/open-sans-v43-latin-300.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/openSans/open-sans-v43-latin-700.woff2')
    format('woff2');
}

body {
  font-family: var(--font-metropolis);
}

.hidden {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  height: 72px;
}

.mobile-logo {
  display: none;
  height: 2rem;
  align-items: center;
}
.mobile-logo a {
  display: flex;
  align-items: center;
  height: 100%;
}
.mobile-logo img {
  height: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.burger-menu {
  display: none;
  align-content: center;

  width: 3rem;
  height: 3rem;
}
.burger-menu button {
  all: unset;
  cursor: pointer;
}
.burger-menu img {
  width: 60%;
  height: 60%;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: var(--margin-left-right-4);
}

.mobile-header-container {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3125rem;
}

.nav-links {
  display: flex;
  align-items: center;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 0.3125rem;
  font-weight: 500;
  height: 100%;
}

.navbar-link-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-link {
  display: flex;
}

.navbar-link::after {
  content: '';
  display: inline-block;
  width: 2.2rem;
  background-image: url('assets/icons/down-arrow-5-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.dropdown {
  display: none;
  position: absolute;
  border: 0;
  border-radius: 6px;
  margin-top: 1.25rem;
  padding: 1rem;
  top: calc(100% - 20px);
  left: 0;
  background-color: var(--bg-color-white);
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  list-style: none;
  line-height: 1.5rem;
  font-size: var(--font-size-1);
}

.dropdown a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.375rem 3rem 0.375rem 1rem;
  white-space: nowrap;
  font-family: var(--font-open-sans);
}

.dropdown a:hover {
  color: var(--text-color-green);
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.link-mobile {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: var(--font-size-2);
  padding-bottom: 1rem;
  display: block;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
  text-decoration: none;
  color: var(--bg-color-white);
}

.link-mobile:hover {
  color: var(--text-color-green);
}

.navbar-link-container:hover .dropdown {
  display: block;
}

.projects {
  width: 100%;
  background-color: var(--bg-color-projects);
}

.projects-container {
  padding: 3rem 0;
  max-width: 960px;
  margin: var(--margin-left-right-4);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem 0;
}

.project-title {
  font-weight: 700;
  font-size: 3.5rem;
  padding: 1rem 0;
}

.project-description {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: var(--margin-1rem);
}

.project-button {
  position: relative;
  font-family: var(--font-open-sans);
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  padding: 0.9375rem 1.875rem;
  border: 2px solid var(--text-color);
  background: transparent;
  font-size: var(--font-size-1);
  font-weight: 700;
  transition: 0.2s ease;
  z-index: 0;
}

.project-button::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
}
.project-button:hover {
  background-color: transparent;
  color: var(--bg-color-white);
}
.project-button:hover::before {
  width: 100%;
}
.extra-border {
  height: 6px;
  background: linear-gradient(45deg, var(--text-color-green) 26%, #80ea6e 89%);
}

.items-container {
  padding: 3rem 2rem 0 2rem;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  width: 33%;
  padding: 0.75rem;
}

.list-item a {
  display: block;
  width: 100%;
  border: 1px solid #d9e9e9;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  padding: 1.5625rem 1.25rem 2.1875rem;
  height: 100%;
  min-height: 9.375rem;
}

.list-item a:hover {
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  transform: translateY(-3px);
  position: relative;
  top: -3px;
}

.image {
  width: 3.125rem;
  height: 3.125rem;
}
.image img {
  width: 100%;
  height: 100%;
}

.list-item-header {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.list-item-title {
  font-weight: 400;
}
.list-item-description {
  font-family: var(--font-open-sans);
  font-weight: 400;
  line-height: 1.7rem;
  padding: 0.75rem 0;
  color: #61717d;
}
.list-item-version {
  display: inline-block;
  font-family: var(--font-open-sans);
  align-items: center;
  padding: 0.3125rem 0.5625rem;
  background-color: #80ea6e;
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--font-size-075);
  border: 0;
  border-radius: 0.1875rem;
}

.additional-versions {
  margin-left: var(--margin-05-rem);
  font-family: var(--font-open-sans);
  font-size: var(--font-size-075);
  font-weight: 400;
  color: rgb(97, 113, 125);
}

@media (max-width: 1042px) {
  .header-container {
    gap: 2rem;
    margin: var(--margin-left-right-9);
  }
  .projects-container {
    margin: var(--margin-left-right-9);
  }
}

@media (max-width: 1200px) {
  .header-container {
    margin: var(--margin-left-right-10);
  }
  .projects-container {
    margin: var(--margin-left-right-10);
  }
}

@media (max-width: 1000px) {
  .header-container {
    margin: var(--margin-left-right-5);
  }
  .projects-container {
    margin: var(--margin-left-right-5);
  }
  .list-item-header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .links-container {
    display: none;
  }
  .header-container {
    display: none;
  }
  .mobile-header-container {
    display: flex;
  }

  .cross-icon {
    position: relative;
    margin-top: 0.25rem;
    margin-right: var(--margin-05-rem);
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 1001;
  }
  .cross-icon button {
    all: unset;
  }

  .burger-menu {
    display: block;
  }
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191e1e;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .side-menu.open {
    transform: translateY(0);
  }

  .side-menu-navigation {
    padding: 3rem;
  }

  .side-menu-navigation span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    line-height: 3rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
    color: var(--bg-color-white);
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: var(--font-size-2);
    margin: var(--margin-1rem) 0;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }

  .side-menu-navigation span:hover {
    color: var(--text-color-green);
  }

  .side-menu-navigation span::after {
    content: '';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('assets/icons/down-arrow-backup-2-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: var(--margin-05-rem);
  }

  .side-menu-list {
    display: block;
    list-style: none;
  }

  .side-menu-list li {
    height: 2.25rem;
  }

  .side-menu-list a {
    text-decoration: none;
    color: rgb(152, 175, 174);
    align-content: center;
    font-family: var(--font-open-sans);
    font-size: 1.25rem;
  }

  .side-menu-list a:hover {
    color: var(--text-color-green);
  }
  .mobile-logo {
    display: flex;
  }
  .header {
    height: 3.25rem;
  }

  .projects-container {
    margin: 0;
    padding: 3rem 2rem;
  }
}

@media (max-width: 800px) {
  .list-container {
    flex-direction: column;
  }
  .list-item {
    width: 100%;
  }
}
